/* Importing the main site font */
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes arrow-animation {
    /* Animation used for the arrow in the buttons */
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
    
}

@keyframes icon-animation {
    /* Animation used for the icon in the account page buttons */
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
    
}

:root {
    /* Main theme color and variables (some of the colors might also be used in other components than the specified ones) */
    --border-color: #ffffff00; /* Border color for buttons */
    --header-text-before-width: 75%; /* Width of the header text underline */
    --theme-background-color : #E0B1CB; /* Background color of the page */
    --theme-header-color : #5E548E; /* Header color */
    --theme-button-color-normal : #BE95C4; /* Normal button color */
    --theme-button-color-hovered : #9F86C0; /* Hovered button color */
    --theme-button-color-selected : #231942; /* Selected button color */
    --score-text-size : 48px; /* Font size for the score text */
}

/* Enables smooth scrolling for anchor links */

html {
    scroll-behavior: smooth;
}

/* Baseline, reset styles */

* {
    box-sizing: border-box;
    font-weight: 600;
}

*:not(mjx-container):not(mjx-container *) {
    font-family: 'Kanit', sans-serif; /* Font family for the entire page except the mathjax texts because they require a specific (compatible) font*/
}
  
/* Body styles */

body {
    margin: 0 auto;
    background-color: var(--theme-background-color);
}

/* Header menu */

header {
    background-color: var(--theme-header-color);
    color: rgb(0, 0, 0);
    align-content: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: sticky;
    height: 70px;
    top: 0;
}

.header-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
}


.header-text {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
}

.header-text::before {
    /* Underline effect for the header text */
    content: '';
    background-color: rgb(0, 0, 0);
    transform-origin: center;
    border-radius: 2px;
    width: var(--header-text-before-width);
    height: 5px;
    position: absolute;
    bottom: 0;
    left: calc(50% - (var(--header-text-before-width) / 2));
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

@media (hover: hover) {
    .header-text:hover::before {
        transform: scaleX(1);
    }
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img {
    width: 150px;
    height: 30px;
    margin : 10px
}

.account-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.account-info .header-text {
    font-size: 1.2em;
    margin-right: 10px;
    text-transform: none;
}

/* Style for the logodiv on the landing page */

.logo-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 22%;
    height: 100%;
    background-color: var(--theme-header-color);
}

.logo-container img {
    width: 100%;
    position: relative;
    top: 250px
}

/* Presentation texts style */

.page-presentation {
    align-content: center;
    margin-top: 150px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* Quiz selection style */

/* Style for the global container (contains each quiz option) */
.quiz-selection-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* Style for the individual quiz options */
.quiz-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-inline-start: 0;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    margin: 10px;
}

.quiz-selection-container.selected {
    background-color: var(--theme-button-color-normal);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Style for the button that makes the selection options menu appear */
.quiz-selection-button {
    background: var(--theme-button-color-normal);
    color: rgb(0, 0, 0);
    width: 520px;
    height: 39px;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: none;
    cursor: pointer;
    position: relative;
    padding: 5px 20px;
    margin: 0 3px;
    border: 3px solid var(--border-color);
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

@media (hover: hover) {
    .quiz-selection-button:hover {
        background: var(--theme-button-color-hovered);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px) scale(1.02);
    }
}

.quiz-selection-button.selected {
    background: var(--theme-button-color-normal);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) scale(1.02);
}

@media (hover: hover) {
    .quiz-selection-button.selected:hover {
        background: var(--theme-button-color-hovered);
    }
}

.quiz-selection-button i {
    position: absolute;
    right: 25px;
    transition: transform 0.3s;
    transform-origin: center;
}

.quiz-selection-button.selected i {
    transform: rotate(180deg);
}

/* Style for the settings of the quiz (number of questions) */
.quiz-selection-settings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: 10px;
}

/* The container that holds the description and other elements about the quiz (including the settings) */
.quiz-selection-info-container {
    background-color: var(--theme-button-color-normal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 0;
    height: auto;
    width: 526px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Make the dropdown menu appear */
.quiz-selection-container.selected .quiz-selection-info-container {
    max-height: 190px;
    transform: scaleY(1);
}

/* Button to start the quiz */
.quiz-selection-start-button {
    background-color: var(--theme-button-color-normal);
    border: 3px solid var(--border-color);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    width: 520px;
    font-size: 1.2em;
    font-weight: 700;
    padding: 5px 25px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.quiz-selection-start-button i {
    margin-left: 3px;
}

@media (hover: hover) {
    .quiz-selection-start-button:hover {
        background-color: var(--theme-button-color-hovered);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px) scale(1.02);
    }

    .quiz-selection-start-button:hover i {
        animation: arrow-animation 0.75s infinite;
    }
}

.quiz-selection-description {
    max-width: 520px;
    margin: 0 9px;
}

/* Quiz style */

/* Style for the quiz main container (contains the question and answers) */
.quiz-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* Style for the quiz answers container */
.quiz-answer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-inline-start: 0;
}

/* Style for each individual answer button */
.quiz-answer-button {
    background: var(--theme-button-color-normal);
    color: rgb(0, 0, 0);
    width: 520px;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: none;
    cursor: pointer;
    position: relative;
    padding: 5px 20px;
    margin: 3px;
    border: 3px solid var(--border-color);
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (hover: hover) {
    .quiz-answer-button:hover {
        background: var(--theme-button-color-hovered);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px) scale(1.02);
    }
}

.quiz-answer-button.selected {
    background-color: var(--theme-button-color-selected);
    color: white;
}

/* Style for the answer text */
.answer-button-text {
    position: relative;
    z-index: 2;
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Answer indicator (good or bad) */

.answer-indicator {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: 15px;
    visibility: hidden;
    transition: transform 0.3s, visibility 0.3s;
    z-index: 2;
}

.answer-indicator.answered i {
    visibility: visible;
}

/* Free answer style */

/* Style for the input field where the user can type their answer */
.answer-input {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: 35px;
    width: 250px;
    background-image: element('<i class="fa-regular fa-circle-check"></i>');
    background-color: var(--theme-button-color-hovered);
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    border: 3px solid var(--theme-button-color-selected);
    border-radius: 4px;
    margin: 10px 5px;
    transition: border-color 0.3s ease-in-out;
}

/* Sets the color of the input's border depending on the answer (correct or incorrect) */
.answer-input.correct {
    border-color: green;
}

.answer-input.incorrect {
    border-color: red;
}

label[for="answer-input"] {
    font-size: 1.3em;
    margin: 15px 5px;
}

/* Style for the answer text that shows the correct answer at the end of the timer */
.correct-answer-text {
    font-size: 1em;
    transform: scale(0);
    transition: all 0.3s ease-out;
}

.correct-answer-text.show {
    transform: scale(1);
}

/* Timer progress style */

.timer {
    width: 550px;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.timer::-webkit-progress-bar {
    background-color: var(--theme-button-color-hovered);
    border-radius: 5px;
}

.timer::-webkit-progress-value {
    background-color: var(--theme-header-color);
    border-radius: 5px;
}

.timer::-moz-progress-bar {
    background-color: var(--theme-button-color-hovered);
    border-radius: 5px;
}

/* Utility buttons style (going to the next questions and submitting the answer) */

.quiz-utility-button {
    background-color: var(--theme-background-color);
    color: white;
    width: 250px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    margin: 10px 25px;
    border: var(--border-color) 3px solid;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

/* Style for the container which holds the utility buttons */
.quiz-utility-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.quiz-utility-button-text {
    position: relative;
    margin: 0;
    z-index: 2;
}

@media (hover: hover) {
    .quiz-utility-button:hover {
        background-color: var(--theme-button-color-normal);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px) scale(1.02);
    }

    .quiz-utility-button:hover i {
        animation: arrow-animation 0.75s infinite;
    }
}

/* Quiz score style */

/* Style for the quiz score container (shows the current score and the question number) */
.quiz-score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    width: 50vw;
}

.quiz-score-text {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px;
    position: absolute;
    right: 0;

}

.quiz-question-text {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px;
    position: absolute;
    left: 0;

}

/* Result screen style */

/* Style for the result screen container (shows the score and the end message) */
.main-score-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    height: calc(1.5*var(--score-text-size)); /* Ensure the parent container has a defined width */
}

.main-score-container *:not(.max-score-text) {
    font-size: var(--score-text-size);
    font-weight: 600;
    transition: transform 2.5s ease-out;
    text-transform: uppercase;
    overflow: hidden;
    margin: 0;
}

/* End message text style */
.end-score-text {
    display: flex;
    flex-direction: column;
    font-size: calc(var(--score-text-size)/2);
    font-weight: 600;
    text-align: center;
    align-content: center;
}

/* Style for the score text (integer part) */
.score-integer-container {
    display: flex;
    padding: 0;
}

.main-score-container span {
    margin: 0 1px;
}

/* Style for the score text (decimal part) */
.score-decimal-digit {
    display: flex;
}

.quiz-main h2 {
    text-align: center;
}

/* Link to my GitHub page */

footer {
    margin-top: 100px;
}

footer p{
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

/* Disabling burger menu for computer version */

.burger-menu, .burger-menu-visibility-switch {
    display: none;
}

.burger-menu-visibility-switch {
    font-size: 0px;
}

/* Responsive styles for mobile */

@media (max-width: 500px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    .header-text {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 70px;
        height: 100vh;
        width: 50vw;
        z-index: 10000;
        background-color: var(--theme-header-color);
        transform-origin: right;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out;
    }

    .burger-menu * {
        z-index: 10000;
    }

    .burger-menu.show {
        transform: translateX(0);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }

    .burger-menu a {
        text-decoration: none;
        text-align: end;
        margin: 15px 10px 0 0;
        color: black;
    }

    .burger-menu-visibility-switch {
        display: block;
        position: relative;
        right: 0;
        align-self: center;
        font-size: 1.5em;
        margin-right: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

    }

    /* Hide the logo display on the landing page */

    .logo-container {
        width: 0;
    }

    .quiz-selection-container, .quiz-selection-container *, .presentation-container {
        width: 90vw;
    }

    .quiz-selection-button {
        font-size: 0.9em;
    }

    .quiz-selection-button i {
        font-size: 10px;
        position: absolute;
        width: 10px;
        right: 10px;
        align-self: center;
    }

    .quiz-selection-info-container {
        font-size: 0.9em;
    }

    .quiz-selection-info-container p {
        margin-top: 10px;
    }

    .quiz-selection-start-button i {
        font-size: 15px;
        width: 15px;
    }

    .quiz-main h1 {
        font-size: 1.2em;
    }

    .quiz-main h2 {
        font-size: 0.95em;
    }

    .timer, .answer-container, .quiz-answer-list, .quiz-answer-button {
        width: 90vw;
    }

    .quiz-utility-buttons-container {
        width: 100vw;
    }

    .quiz-utility-button {
        margin: 15px 10px 0 0;
    }

    .quiz-utility-button-text {
        font-size: 0.65em;
    }

    .quiz-score-container {
        width: 90vw;
    }

    .quiz-score-container *{
        font-size: 0.8em;
    }

    .quiz-score-container * span {
        font-size: 1.1em;
    }
}