@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes arrow-animation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
    
}

:root {
    --border-color: #ffffff00;
    --header-text-before-width: 75%;
    --theme-background-color : #E0B1CB;
    --theme-header-color : #5E548E;
    --theme-button-color-normal : #BE95C4;
    --theme-button-color-hovered : #9F86C0;
    --theme-button-color-selected : #231942;
    --score-text-size : 48px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-weight: 600;
}

*:not(mjx-container):not(mjx-container *) {
    font-family: 'Kanit', sans-serif;
}
  

body {
    margin: 0 auto;
    background-color: var(--theme-background-color);
}

/* header menu */

header {
    background-color: var(--theme-header-color);
    color: rgb(0, 0, 0);
    align-content: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.header-menu {
    display: flex;
    width: 95%;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
}


.header-text {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
}

.header-text::before {
    content: '';
    background-color: rgb(0, 0, 0);
    transform-origin: center;
    border-radius: 2px;
    width: var(--header-text-before-width);
    height: 5px;
    position: absolute;
    bottom: 0;
    left: calc(50% - (var(--header-text-before-width) / 2));
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.header-text:hover::before {
    transform: scaleX(1);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* presentation texts style */

.page-presentation {
    align-content: center;
    margin-top: 150px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* quiz selection style */

.quiz-selection-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.quiz-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-inline-start: 0;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    margin: 10px;
}

.quiz-selection-container.selected {
    background-color: var(--theme-button-color-normal);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.quiz-selection-button {
    background: var(--theme-button-color-normal);
    color: rgb(0, 0, 0);
    width: 520px;
    height: 39px;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: none;
    cursor: pointer;
    position: relative;
    padding: 5px 20px;
    margin: 0px 3px;
    border: 3px solid var(--border-color);
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.quiz-selection-button:hover {
    background: var(--theme-button-color-hovered);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) scale(1.02);
}

.quiz-selection-button.selected {
    background: var(--theme-button-color-normal);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) scale(1.02);
}

.quiz-selection-button.selected:hover {
    background: var(--theme-button-color-hovered);
}

.quiz-selection-button i {
    position: absolute;
    right: 25px;
    transition: transform 0.3s;
    transform-origin: center;
}

.quiz-selection-button.selected i {
    transform: rotate(180deg);
}

.quiz-selection-settings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: 10px;
}

.quiz-selection-info-container {
    background-color: var(--theme-button-color-normal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 0px;
    width: 100%;
    transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.quiz-selection-container.selected .quiz-selection-info-container {
    max-height : 87px;
    transform: scaleY(1);
}

.quiz-selection-start-button {
    background-color: var(--theme-button-color-normal);
    border: 3px solid var(--border-color);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    width: 520px;
    font-size: 1.2em;
    font-weight: 700;
    padding: 5px 25px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.quiz-selection-start-button i {
    margin-left: 3px;
}

.quiz-selection-start-button:hover {
    background-color: var(--theme-button-color-hovered);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) scale(1.02);
}

.quiz-selection-start-button:hover i {
    animation: arrow-animation 0.75s infinite;   
}

/* quiz style */

.quiz-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.quiz-answer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-inline-start: 0;
}

.quiz-answer-button {
    background: var(--theme-button-color-normal);
    color: rgb(0, 0, 0);
    width: 520px;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: none;
    cursor: pointer;
    position: relative;
    padding: 5px 20px;
    margin: 3px;
    border: 3px solid var(--border-color);
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.quiz-answer-button:hover {
    background: var(--theme-button-color-hovered);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) scale(1.02);
}

.quiz-answer-button.selected {
    background-color: var(--theme-button-color-selected);
    color: white;
}


.answer-button-text {
    position: relative;
    z-index: 2;
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Answer selection indicator */

.answer-indicator {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    position: absolute;
    top: 5px;
    left: 92.5%;
    visibility: hidden;
    transition: transform 0.3s, visibility 0.3s;
    z-index: 2;
}

.answer-indicator.answered i {
    visibility: visible;
}


/* Timer progress style */

.timer {
    width: 550px;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.timer::-webkit-progress-bar {
    background-color: var(--theme-button-color-hovered);
    border-radius: 5px;
}

.timer::-webkit-progress-value {
    background-color: var(--theme-header-color);
    border-radius: 5px;
}

.timer::-moz-progress-bar {
    background-color: var(--theme-button-color-hovered);
    border-radius: 5px;
}

/* Utility buttons style */

.quiz-utility-button {
    background-color: var(--theme-background-color);
    color: white;
    width: 250px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    margin: 10px 25px;
    border: var(--border-color) 3px solid;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.quiz-utility-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.quiz-utility-button-text {
    position: relative;
    margin: 0;
    z-index: 2;
}

.quiz-utility-button:hover {
    background-color: var(--theme-button-color-normal);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px) scale(1.02);
}

.quiz-utility-button:hover i {
    animation: arrow-animation 0.75s infinite;   
}

/* Quiz score style */

.quiz-score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    width: 50vw;
}

.quiz-score-text {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px;
    position: absolute;
    right: 0;

}

.quiz-question-text {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px;
    position: absolute;
    left: 0;

}

/* Result screen style */

.main-score-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    height: calc(1.5*var(--score-text-size)); /* Ensure the parent container has a defined width */
}

.main-score-container *:not(.max-score-text) {
    font-size: var(--score-text-size);
    font-weight: 600;
    transition: transform 2.5s ease-out;
    text-transform: uppercase;
    overflow: hidden;
    margin: 0;
}

.end-score-text {
    display: flex;
    flex-direction: column;
    font-size: calc(var(--score-text-size)/2);
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.score-integer-container {
    display: flex;
    padding: 0;
}

.main-score-container span {
    margin: 0 1px;
}

.score-decimal-digit {
    display: flex;
}

.quiz-main h2 {
    text-align: center;
}
