# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .vscode and .dist
/.vscode/
/.dist/

# .idea

/.idea/

# Personnal folder all of the versions of the logo you can see on the demo website (defimaths.net) is

/Assets/Logo/Personnal/
