# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .vscode and .dist
/.vscode/
/.dist/

# .idea

/.idea/

# Personal configured version of the register file for my domain
/PHP/register-configured.php

# Personnal folder for gpg information
/gpg/
